<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-items">
      <a routerLink="/bar-chart" class="nav-link">Bar charts</a>
    </li>
    <li class="nav-items">
      <a routerLink="/doughnut-chart" class="nav-link">Doughnut charts</a>
    </li>
    <li class="nav-items">
      <a routerLink="/radar-chart" class="nav-link">Radar charts</a>
    </li>
    <li class="nav-items">
      <a routerLink="/pie-chart" class="nav-link">Pie charts</a>
    </li>
  </ul>
  <div><router-outlet></router-outlet></div>
</div>
